.contact-content{
    display: block;
    height: 100vh;
    /* background: #FFEADD; */
    margin-top: 32px;
    padding: 9px;
    background-image: url(../static/img/home.jpg);
    
       
}

.input,textarea{
    border:2px solid black;
}




