@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans:wght@500&family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root {
    --main-bg-color: #EF6262;
    --font1: 'Abril Fatface', cursive;
    --font2: 'Open Sans', sans-serif;
    --font3: 'Roboto', sans-serif;
    --font4: 'Roboto', sans-serif;
}
.center{
    text-align: center;
}

.font1 {
    font-family: var(--font1);
}

.font2 {
    font-family: var(--font2);
}


.font3 {
    font-family: var(--font3);
}
.font4 {
    font-family: var(--font4);
}
.max-width-1 {
    max-width: 80vw;
}

.max-width-2 {
    max-width: 60vw;

}

.m-auto {
    margin: auto;
}

.m1{
    margin:0px 100vw
}

.mx-1{
margin-left: 23px;
margin-right: 23px;
}

.my-2{
    margin-top: 32px;
    margin-bottom: 32px;
}

.btn {
    padding: 2px 15px;
    border: 2px solid black;
    border-radius: 6px;
    font-family: var(--font2);
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: larger;
}

.form-input {
    padding: 3px 5px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 4px;
    margin: 0 13px;
    font-family: var(--font2);
    
}

.btn:hover {
    color: white;
    background: #EF6262;
}

.form-box input,textarea{
   width: 40vw;
   padding:0px 6px;
   margin:7px 0px;
   font-size: 18px;
   font-family: var(--font3);
   border-radius:5px;
}

.form-box1 input,textarea{
    width: 2vw;
    padding:0px 6px;
    margin:7px 0px;
    font-size: 18px;
    font-family: var(--font3);
    border-radius:5px;
 }

 .form-box2 input,textarea{
    width: 21vw;
    padding:0px 6px;
    margin:7px 0px;
    font-size: 18px;
    font-family: var(--font3);
    border-radius:5px;
 }

i{
    color: black;
    font-size: larger;
    padding: 12px;
}
